__pycache__/
*.pyc

logs/
*.log

data/market/
data/trades/
data/reports/
data/open_positions.json

.env
*.bak

config/kis_secret.json
data/stock/kis_token.json
data/stock/kis_cache.json
data/scheduler/
data/dart/
data/news/stock_news_ai.json
data/money_flow/
data/sector/
data/market_state/
data/macro/macro_ai_status.json
data/us/
data/earnings/